h1{
 font-size: 2.2em;
 font-family: 'aldrich';
 background-color:#f59b18;
 color: white;
 text-align: center;
}

h2{
  font-size: 18px;
  font-family: 'Aldrich';
  margin: 6px 10px 6px 10px;
  text-transform: uppercase;
}

.huisstijlgidsh2{
  color: #f59b18;
  font-size: 24px;
}

h3{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
  color:#ec671e;
  font-size: 16px;
  margin: 6px 15px 6px 10px;
}

h4{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  margin: 6px 15px 6px 10px;
}

p{
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
  font-size: 10pt;
  margin: 6px 15px 6px 10px;
}

.introteksth4{
  font-size: 18pt;
  margin-top: 40px;
  margin-bottom: 8px;
}

.introtekst{
  font-size: 14pt;
  margin-bottom: 10px;
  margin-left: 25px;
}

.centreren{
  text-align: center;
}